@use "utilities/global" as *;

//TODO: redefine breakpoint

.main {
  padding: rem(88px) rem(24px) rem(68px);
  max-width: rem(550px);
  margin-inline: auto;
  @media (min-width: $breakpoint) {
    max-width: none;
    height: 100vh;
    padding: 0px div(165, 1440) * 100vw;
    display: flex;
    align-items: center;
  }
}

.top_section {
  color: white;
  text-align: center;
  margin-bottom: rem(64px);
  @media (min-width: $breakpoint) {
    text-align: left;
    margin-bottom: 0;
    margin-right: 30px;
    width: div(525, 1440) * 100vw;
  }
}

.top__heading {
  @include setFont(rem(28px), 36px, 700);
  letter-spacing: -0.291667px;
  margin-bottom: em(16px, 28px);
  @media (min-width: $breakpoint) {
    @include setFont(rem(50px), 55px);
    letter-spacing: -0.520833px;
    margin-bottom: em(11px, 50px);
  }
}

.top__paragraph {
  @include setFont(rem(16px), 26px, 500);
}

.form_section {
  @media (min-width: $breakpoint) {
    width: div(540, 1440) * 100vw;
    margin-left: auto;
  }
}

.trial {
  background-color: color(blue);
  color: white;
  @include setFont(rem(15px), 26px, 400);
  letter-spacing: 0.267857px;
  text-align: center;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  padding: rem(18px) rem(66px);
  margin-bottom: rem(24px);
  strong {
    font-weight: 700;
  }
  abbr {
    text-decoration: none;
  }
  @media (min-width: $breakpoint) {
    padding: rem(17px) 0;
  }
}

.form_container {
  background-color: white;
  padding: rem(24px);
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  @media (min-width: $breakpoint) {
    padding: rem(40px);
  }
}

.form__footer {
  @include setFont(rem(11px), 21px, 500);
  color: color(grayish-blue);
  text-align: center;
  margin-inline: rem(15px);
  @media (min-width: $breakpoint) {
    line-height: 26px;
  }
}

.footer__link:any-link {
  font-weight: 700;
  color: color(red);
  text-decoration: none;
}
